:root {
    --main-bg-color: #EFEFEF;
    --main-contrast-color: #dcdfee;
    --main-text-color: #878a99;
    --main-banner-color: #545365;
    --main-title-color: #202136;
    --title-font: 'Titillium Web', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
   background-color: #EFEFEF !important;
}

p {
    font-family: 'Roboto', sans-serif;
}
li {
    font-family: var(--title-font);
}
h2{
    font-family: var(--title-font);
}
a {
    font-family: var(--title-font);
}
h3 {
    font-family: var(--title-font);
}

/*----------------------------------------------------------Nav----------------------------------------------------------*/

.navbar {
    display: flex;
    background-color:  transparent;
    justify-content: flex-end;  
}
.logo {
    width: 30px;
    height: 30px;
}
.nav-link {
    color: var(--main-title-color) !important;
    position: relative;
}
.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: var(--main-title-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.separador {
    border-top: solid 2px var(--main-title-color);
    max-width: 50%;
    margin: 1em auto 0 auto;
}  

/*----------------------------------------------------------Index----------------------------------------------------------*/

.main-img {
    background-image: url("/Imagenes/Producto-Fondo-mod.jpg");
    height: 70vh;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.main-title {
    color: var(--main-bg-color);
    font-size: 2em;
    text-align: center;
    
}
.main-description {
    color: white;
    text-align: center;
    font-family: var(--text-font);
}

.soluciones-container {
    height: 80vh;
    width: 100%;
    margin: 20px auto 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #4070F4;
    color: #FFF;
}
.soluciones-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    
}
.soluciones_img-container {
    width: 500px;
    height: 400px;
    object-fit: contain;
}


/*----------------------------------------------------------Camaras----------------------------------------------------------*/

.camaras-container {
    max-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.camaras-imagenes {
    width: 500px;
    height: 200px;
}
.camaras-descripcion {
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.camaras-title {
    color: var(--main-title-color);
    margin-bottom: 1em;
    text-align: left;
}
.camaras-texto {
    text-align:left;
    color: var(--main-text-color);
}


/*----------------------------------------------------------Contacto----------------------------------------------------------*/

.contacto-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}
.form-title{
    padding: 10px;
    margin-top: 2em;
}
.form-container {
    width: 50%;
    height: 400px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.form-button{
    padding: 10px;
    display: block;
    background-color: #222;
    width: 10em;
    color: white;
    border-radius: 5px;
    border-width: 0px;
}
.contacto_form-title {
    text-align: center;
}


/*-----------------------------------------------------------------Camras-main-----------------------------------------------------*/
 
.camara-main_fondo {
    background-image: url("/Imagenes/home-security-camera.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.camara-main_title {
    color: var(--main-bg-color)
}
.camara-main_text {
    color: var(--main-contrast-color);
}
.camara-main_container{
    height: 50vh;
    width: 80%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.camara-main_item {
    display: flex;
    width: 30%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em 1em;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border: solid 1px var(--main-banner-color);
    border-radius: 5px;
    background-color: transparent;
}
.camara-card_text {
    width: 80%;
}
.camara-main_button {
    display: block;
    width: 15%;
    margin: 2em auto;
    
}

/*-----------------------------------------------------------------contacto-------------------------------------------------------*/

.contacto_fondo-container {
    background-image: url("/Imagenes/Contacto-Fondo-mod.jpg");
    background-position: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto_fondo-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-bg-color);
}
.contacto_form-container {
    width: 50%;
    max-height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-title {
    font-family: 'Titillium Web', sans-serif;
}
.contacto_form-title{
    margin-top: 1em;
    font-family: 'Titillium Web', sans-serif;
    color: var(--main-title-color);
    padding-bottom: 0.5em;
   
}
.contacto_form-telephone-container{
    margin-top: 1em;
}
.contacto_form-telephone {
    font-size: 1.5em;
    
    text-decoration: none;
    color: var(--main-title-color);
}
.form-container {
    width: 100%;
}
.form-control {
    margin: 0.3em;
}
.separador {
    border-top: solid 2px var(--main-title-color);
    max-width: 50%;
    margin: 1em auto 0 auto;
} 
/*-----------------------------------------------------------------Footer-------------------------------------------------------*/

.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-banner-color);
    color: var(--main-bg-color);
    height: 20vh;
    width: 100%;
}
.footer_contacto {
    
    padding: 1em;
}
.footer_redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_link {
    padding: 5px;
    margin-bottom: 3px;
    color: var(--main-bg-color);
    text-decoration: none;
}
.footer_text {
    padding: 5px;
    display: inline;
}

/*-------------------------------------------------------------Slider-------------------------------------------------------*/

.titulo-slide {
    width: 90%;
    position: relative;
    top: 30px;
    border-bottom: 0.5px solid #545365;
    margin: 10px auto 0 auto;
    padding-bottom: 5px;
}

.swiper_slider-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    margin: 20px 0;
    border-bottom: 1px solid #545365;
}
.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content {
    height: 500px;
    margin:0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card {
    border-radius: 25px;
    margin-bottom: 25px;
}
.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 15px 0;
}

.card-image {
    position: relative;
    height: 150px;
    width: 200px;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: #222;
}
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button_slide1 {
    border: none;
    font-size: 16px;
    color:#FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px 14px 5px 14px;   
    cursor: pointer;
    transition: all 0.3s ease;
}
.button_slide2 {
     border: none;
     font-size: 16px;
     color:#FFF;
     padding: 8px 16px;
     background-color: #4070F4;
     border-radius: 6px;
     margin: 5px 14px;
     cursor: pointer;
     transition: all 0.3s ease;
     
}
.button_slide1:hover {
    background-color: #265df2;
}
.button_slide2:hover {
    background-color: #265df2;
}

.swiper-navBtn {
    color: #6e93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before, .swiper-navBtn::after  {
    font-size: 40px
}

.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}
.swiper-pagination-bullet {
    background-color: #6e93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #4070F4
}



/*-----------------------------------------------------------------MediaQuery-------------------------------------------------------*/

@media only screen and (max-width: 768px) {
    /*-----------------------------------------------------nav-------------------------------------------------------------*/
    .nav-link:after {
        content: '';
        position: absolute;
        width: 40%;
        transform: scaleX(0);
        height: 2px;
        bottom: 5px;
        left: 0;
        background-color: var(--main-title-color);
        transform-origin: bottom right; 
        transition: transform 0.3s ease-out;
    }
    .nav-link:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

    /*------------------------------------------------------slider------------------------------------------------------------*/
    .swiper_slider-container {
        min-height: 70vh;
    }    
    .slide-content {
        margin: 0 50px;
    }
    .swiper-navBtn {
        display: none;
    }
    
    /*-------------------------------------------------------index-mobile------------------------------------------------------*/
    .main-img {
        height: 300px;
        background-size: cover;
        width: 100%;
        background-attachment: scroll;
        object-fit:contain;
    }
    .main-description {
        width: 90%;
    }
    
    .camaras-imagenes {
        height: 20vh;
        width: 80%;
        flex: 1;
        order: -1;
        display: none;
    }
    .camaras-container {
        height: 70vh;
        width: 100%;  
        overflow: hidden;
    }
    .camaras-descripcion {
        width: 80%;
        font-family: var(--text-font);
        margin: 1em auto;
    }
    
    

    /*-------------------------------------------------------camara-main-mobile------------------------------------------------------*/
    .camara-main_fondo{
        height: 40vh;
        background-size: 100% 60vh;
        background-attachment: scroll;
    }
    .camara-main_container {
        flex-direction: column;
        height: 150vh;
    }
    .camara-main_item {
        width: 90%;
    }
    .camara-main_button {
        width: 40%;
    }
    .camara-main_text {
        text-align: center;
    }
    /*-------------------------------------------------------contacto-mobile------------------------------------------------------*/
    .contacto_fondo-container {
        height: 40vh;
        background-size: 100% 100%;
        background-attachment: scroll;
    }
    .contacto_fondo-description {
        width: 80%;
        text-align: center;
        font-weight: 200;
    }
    .contacto_form-container{
        width: 90%;
    }
}
